*,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}
header {
  height: 100dvh;
}
nav {
  position: relative;
  z-index: 999;
  background: transparent;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 35px 0px 35px;
}
.nav-logo img {
  width: 8%;
  height: auto;
}
.nav-link {
  display: flex;
  align-items: center;
  gap: 30px;
  font-family: "Jockey One", sans-serif;
}
.nav-link a {
  color: black;
  font-size: 1.2rem;
}
.main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  margin-top: 30px;
  padding-left: 70px;
  padding-right: 70px;
}
.main-content {
  width: 65%;
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
}
.main-content > p {
  font-size: 2rem;
}
.main-content > h2 {
  font-size: 3rem;
}
.main-card {
  display: flex;
  align-items: center;
  margin-top: 20px;
  width: 65%;
  gap: 20px;
  flex-wrap: wrap;
}
.main-card p {
  font-size: 1rem;
  background: black;
  border-radius: 20px;
  padding: 8px 15px 8px 15px;
  color: white;
  font-weight: 700;
}
.main-socmed {
  display: flex;
  margin-top: 50px;
  gap: 30px;
}
.main-socmed img {
  width: 4%;
  height: auto;
}
.main-scroll {
  margin-top: 50px;
  display: flex;
  gap: 20px;
}
.main-scroll a {
  font-size: 1.1rem;
  color: black;
}
.main-image {
  width: 35%;
}
.main-image img {
  width: 100%;
  border-radius: 50%;
}
